<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPFInder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>37EF287B156F8B73003E22CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37FFD27714DB422900A9809A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37FFD29714DB422A00A9809A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
